
@{
    ViewBag.Title = "Antrenmana Hareket Ekle";
}
@{ 
    int seciliAntrenmanID = Model[0].antrenmanID;
    string seciliAntrenmanAciklama = Model[0].antrenmanAciklama;
    DateTime seciliAntrenmanTarih = Model[0].antrenmanTarih;
    string seciliAntrenmanDurum = Model[0].antrenmanDurum;
    if (seciliAntrenmanDurum == "0")
    {
        seciliAntrenmanDurum = "Yapılmadı";
    }
    else {
        seciliAntrenmanDurum = "Yapıldı";
    }

}
<div class="Satir">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="simpleboxHeader">Antrenmana Hareket Ekle</div>
        <div class="simpleboxContent">
            <div class="formBox">
                <form action="/Action/AntrenmanaHareketiKaydet" method="post">
                    <ul>
                        <li>Antrenman Açıklaması : </li>
                        <li>
                            <input type="text" class="defaultInput inputFullWidth" value="@seciliAntrenmanAciklama" disabled>
                            <input type="hidden" name="antrenmanID" value="@seciliAntrenmanID" />
                            <input type="hidden" name="hareketSira" value="0" />
                        </li>
                        <li>Antrenman Tarihi : </li>
                        <li><input type="text" class="defaultInput" value="@String.Format("{0:dd MMMM yyyy dddd}", seciliAntrenmanTarih)" disabled></li>
                        <li>Antrenman Durumu : </li>
                        <li><input type="text" class="defaultInput" value="@seciliAntrenmanDurum" disabled></li>
                        <li>Eklenecek Hareket : </li>
                        <li>
                            <select class="defaultInput" name="hareketID">
                            @foreach (var hareket in ViewBag.Hareketler)
                            {
                                <option value="@hareket.hareketID">@hareket.hareketAdi</option>
                            }
                            </select>
                        </li>
                        <li><button><i class="fa fa-save"></i>&nbsp; Hareketi Antrenmana Ekle</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>