
@{
    ViewBag.Title = "Harekete Set Ekle";
}
@{ 
    string antrenmanDurum;
    if (Model[0].Antrenman.antrenmanDurum == "0")
    {
        antrenmanDurum = "Yapılmadı";
    }
    else {
        antrenmanDurum = "Yapıldı";
    }
}
<div class="Satir">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="simpleboxHeader">Harekete Set Ekle</div>
        <div class="simpleboxContent">
            <div class="formBox">
                <form action="/Action/HareketeSetiKaydet" method="post">
                    <ul>
                        <li>Antrenman Açıklaması : </li>
                        <li>
                            <input type="text" class="defaultInput inputFullWidth" value="@Model[0].Antrenman.antrenmanAciklama" disabled>
                            <input type="hidden" name="kayitID" value="@Model[0].AntrenmanKayit.kayitID" />
                        </li>
                        <li>Antrenman Tarihi : </li>
                        <li><input type="text" class="defaultInput" value="@String.Format("{0: dd MMMM yyyy dddd}", Model[0].Antrenman.antrenmanTarih)" disabled></li>
                        <li>Antrenman Durumu : </li>
                        <li><input type="text" class="defaultInput" value="@antrenmanDurum" disabled></li>
                        <li>Set Eklenecek Hareket : </li>
                        <li><input type="text" class="defaultInput inputFullWidth" value="@Model[0].Hareket.hareketAdi" disabled></li>
                        <li>Ağırlık ve Tekrar : </li>
                        <li>
                            <input type="text" class="defaultInput inputSmallWidth" name="setAgirlik" placeholder="Ağırlık örn: 25">
                            <input type="text" class="defaultInput inputSmallWidth" name="setTekrar" placeholder="Tekrar örn: 8">
                        </li>
                        <li><button><i class="fa fa-save"></i>&nbsp; Harekete Set Ekle</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>