@{
    ViewBag.Title = "Dashboard";
}
@using FitnessUygulamasi.Models;
@using FitnessUygulamasi.ViewModels;
@{ 
    FitnessWebAppEntities dbContext = new FitnessWebAppEntities();
}
<div class="Satir">
    @foreach (WorkoutFullDetail wfd in Model)
    {
        <div class="col-3">
            <div class="simpleboxHeader">
                @String.Format("{0:dd MMMM dddd}", wfd.Antreman.antrenmanTarih) | @wfd.Antreman.antrenmanAciklama&nbsp;&nbsp;
                <a href="/Home/AntrenmanaHareketEkle/@wfd.Antreman.antrenmanID" title="Antrenmana yeni hareket ekle">
                    <i class="fa fa-plus-square"></i>
                </a>&nbsp;
                <a href="/Action/AntrenmanSil/@wfd.Antreman.antrenmanID" title="Antrenmanı ve tüm verilerini sil">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
            <div class="simpleboxContent">
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <td height="5%"></td>
                        </tr>
                    </thead>
                    @foreach (AntremanKayit antrenmanKayit in wfd.AntremanKayitlari)
                    {
                        <thead>
                            <tr>
                                <td height="25" colspan="4">
                                    @antrenmanKayit.HareketAdi
                                    &nbsp; <a href="/Home/HareketeSetEkle/@antrenmanKayit.KayitID" title="Harekete yeni set ekle"><i class="fa fa-plus-square"></i></a>
                                    &nbsp; <a href="/Action/AntrenmanKayitKompleSil/@antrenmanKayit.KayitID" title="Hareketi ve setleri sil"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </thead>
                        int setNo = 1;
                        foreach (var set in antrenmanKayit.Setler)
                        {
                            <tbody>
                                <tr>
                                    <td class="sutunSolBosluk" height="23"><a href="/Action/SetSil/@set.setID" title="Bu seti sil"><i class="fa fa-trash-o"></i></a></td>
                                    <td class="sutunSetNumarasi">Set : @(setNo)</td>
                                    <td class="sutunAgirlik">Ağırlık : @set.setAgirlik KG</td>
                                    <td>Tekrar : @set.setTekrar</td>
                                </tr>
                            </tbody>
                            setNo++;
                        }
                    }
                    <thead>
                        <tr>
                            <td height="5%"></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    }
</div>